#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  align-items: flex-start;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.unmarked-emails{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content:flex-start;
  row-gap: 30px;
  padding: 15px;
  padding-top: 5%;
  background-color: red;

  order: 1;
  flex-grow: 3;
}

.unmarked-email-button{

  padding: 20px;
}

/* .unmarked-email-item{
  width: 30%;
} */


.email-contents{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  align-content: space-around;
  row-gap: 5px;
  padding: 8px;

  

  order: 2;
  flex-grow: 1;
}

.email-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: green;
  width: 1400px;
  height: 800px;

}